/* section submenu */
.container-product.btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fafafa;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 576px) {
  .container-product.btn-container {
    flex-direction: column;
    align-items: start;
  }
}

/* section breadcrumb */
.container-product .breadcrumb {
  background: transparent;
  padding-left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.container-product .breadcrumb-item a {
  color: #8b8b8b;
}

.container-product .breadcrumb-item.active {
  color: #000000;
}

.container-product .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.container-product .breadcrumb-item + .breadcrumb-item {
  padding-left: 20px;
}

/* section header */

.container-product .header-title {
  margin-top: 60px;
  width: 50%;
}

@media (max-width: 1024px) {
  .container-product .header-title {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container-product .header-title {
    margin-top: 16px;
  }
}

.container-product .header-title h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 16px;
}

.container-product .header-title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/* section most popular */
.container-product .carousel-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.container-product .carousel-navigation-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.container-product .carousel-navigation-title span {
  color: #ffd120;
}

.container-product .carousel-navigation-btn {
  display: flex;
  align-items: center;
}

.container-product .carousel-button {
  top: -40px;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease;
  margin-left: 8px;
  display: grid;
  place-items: center;
}

.container-product .carousel-button.disable {
  cursor: unset;
}

.container-product .carousel-button:hover,
.container-product .carousel-button:focus {
  opacity: 1;
}

.container-product .carousel-button-prev {
  left: 20px;
}

.container-product .carousel-button-prev.disable .disable-arrow-left {
  display: block;
}
.container-product .carousel-button-prev.disable .arrow-left {
  display: none;
}
.container-product .carousel-button-prev .disable-arrow-left {
  display: none;
}
.container-product .carousel-button-prev .arrow-left {
  display: block;
}
.container-product .carousel-button-next.disable .disable-arrow-right {
  display: block;
}
.container-product .carousel-button-next.disable .arrow-right {
  display: none;
}
.container-product .carousel-button-next .disable-arrow-right {
  display: none;
}
.container-product .carousel-button-next .arrow-right {
  display: block;
}

.container-product .carousel-button-next {
  right: 20px;
}

.container-product .product-carousel {
  width: 100%;
  margin-top: 40px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
.container-product .product-carousel.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  scroll-snap-type: unset;
}

.container-product .product-carousel-items {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -12px;
}
.container-product .product-carousel-items p {
  margin-bottom: 0;
}

.container-product .product-carousel-item {
  display: flex;
  flex: 0 0 calc(18.18181818% - 24px);
  margin: 0 12px;
  flex-direction: column;
  color: black;
  position: relative;
}

.container-product .product-carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.container-product .product-carousel-item-rating {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  height: 16px;
  z-index: 9;
}

.container-product .product-carousel-item-rating img {
  width: 16px;
  height: 16px;
}

.container-product .product-carousel-item-rating span {
  color: white;
  margin-left: 8px;
}

.container-product .product-carousel-item img {
  height: 164px;
}

.container-product .carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-product .product-carousel-item-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.container-product .product-carousel-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container-product .product-carousel-item-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .container-product .product-carousel-item {
    flex: 0 0 calc(33.33333% - 24px);
  }
}

@media (max-width: 768px) {
  .container-product .product-carousel-item {
    flex: 0 0 calc(50% - 24px);
  }
}

@media (max-width: 375px) {
  .container-product .product-carousel-item {
    flex: 0 0 calc(100% - 24px);
  }
}

/* section product grid */
.container-product .products {
  display: flex;
  align-items: start;
  gap: 44px;
  margin-top: 80px;
}

/* filter */
.container-product .products__filter {
  flex-basis: 25%;
}

.container-product .products__filter__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-product .products__filter__title--left h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.container-product .products__filter__title--left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
}

.container-product .products__filter__title--right a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #1e9fd0;
}

.container-product .products__filter__category {
  margin-bottom: 20px;
}

.container-product .products__filter hr {
  width: 80%;
  border-top: 1px solid #d9d9d9;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-product .products__filter__category__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container-product .products__filter__category__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.container-product
  .toggle-category.open
  .products__filter__category__title__minus {
  display: block;
}
.container-product
  .toggle-category.open
  .products__filter__category__title__plus {
  display: none;
}

.container-product .toggle-category .products__filter__category__title__minus {
  display: none;
}
.container-product .toggle-category .products__filter__category__title__plus {
  display: block;
}

.container-product .products__filter__price {
  margin-bottom: 16px;
}

.container-product .products__filter__price__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container-product .products__filter__price__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.container-product .toggle-price.open .products__filter__price__title__minus {
  display: block;
}
.container-product .toggle-price.open .products__filter__price__title__plus {
  display: none;
}

.container-product .toggle-price .products__filter__price__title__minus {
  display: none;
}
.container-product .toggle-price .products__filter__price__title__plus {
  display: block;
}

.container-product .products__filter__price__group {
  display: flex;
  align-items: center;
}

.container-product .products__filter__price__group p {
  margin-bottom: 0;
  height: 100%;
}

.container-product .products__filter__price input[type='number'] {
  width: 46%;
  height: 56px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 3%;
}
.container-product .products__filter__price input[type='number']:focus-visible {
  outline: none;
}
.container-product .products__filter__price input[type='number']::placeholder {
  color: #727272;
}

.container-product .products__filter__subcategory {
  margin-bottom: 20px;
}

.container-product .products__filter__subcategory__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container-product .products__filter__subcategory__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.container-product
  .toggle-subcategory.open
  .products__filter__subcategory__title__minus {
  display: block;
}
.container-product
  .toggle-subcategory.open
  .products__filter__subcategory__title__plus {
  display: none;
}

.container-product
  .toggle-subcategory
  .products__filter__subcategory__title__minus {
  display: none;
}
.container-product
  .toggle-subcategory
  .products__filter__subcategory__title__plus {
  display: block;
}

.container-product .products__filter__othercategory {
  margin-bottom: 20px;
}

.container-product .products__filter__othercategory__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container-product .products__filter__othercategory__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.container-product
  .toggle-othercategory.open
  .products__filter__othercategory__title__minus {
  display: block;
}
.container-product
  .toggle-othercategory.open
  .products__filter__othercategory__title__plus {
  display: none;
}

.container-product
  .toggle-othercategory
  .products__filter__othercategory__title__minus {
  display: none;
}
.container-product
  .toggle-othercategory
  .products__filter__othercategory__title__plus {
  display: block;
}

.container-product .products__filter__request {
  margin-top: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-product .products__filter__request img {
  margin-bottom: 16px;
}

.container-product .products__filter__request h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}
.container-product .products__filter__request p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 16px;
}

/* grid */

.container-product .products__grid {
  flex-basis: 75%;
}
@media (max-width: 768px) {
  .container-product .products__filter {
    display: none;
  }
  .container-product .products__grid {
    flex-basis: 100%;
  }
}

.container-product .products__grid__searchAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-product .products__grid__searchAndSort--search-form {
  position: relative;
}

.container-product .products__grid__searchAndSort input[type='text'] {
  width: 295px;
  height: 56px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 16px;
}

.container-product .products__grid__searchAndSort input[type='text'] {
  outline: none;
}

.container-product
  .products__grid__searchAndSort
  input[type='text']::placeholder {
  color: #727272;
}

.container-product .products__grid__searchAndSort .search-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.container-product .products__grid__searchAndSort--sort-form {
  position: relative;
  width: fit-content;
}

@media (max-width: 768px) {
  .container-product .products__grid__searchAndSort--sort-form {
    display: none;
  }
  .container-product .products__grid__searchAndSort input[type='text'] {
    width: 240px;
  }
}

.container-product .products__grid__searchAndSort select {
  appearance: none;
  outline: 0px;
  width: 160px;
  padding: 16px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  cursor: pointer;
}

.container-product .products__grid__searchAndSort--sort-form .dropdown-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.container-product .products__grid__content {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

@media (max-width: 1024px) {
  .container-product .products__grid__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .container-product .products__grid__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .container-product .products__grid__content {
    grid-template-columns: 1fr;
  }
}

.container-product .product__grid__item {
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
}

.container-product .product__grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.container-product .product__grid__item__rating {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  height: 16px;
  z-index: 9;
}

.container-product .product__grid__item__rating img {
  width: 16px;
  height: 16px;
}

.container-product .product__grid__item__rating span {
  color: white;
  margin-left: 8px;
}

.container-product .grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-product .product__grid__item__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 0;
}

.container-product .product__grid__item__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 4px;
  margin-bottom: 0;

  /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 90px; */
}

.container-product .product__grid__item__location {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-top: 4px;
  margin-bottom: 0;
}

/* pagination */

.container-product .products__grid__pagination {
  margin-top: 40px;
}

.container-product .products__grid__pagination li.page-item .page-link {
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212b36;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .container-product .products__grid__pagination li.page-item .page-link {
    width: 30px;
    height: 30px;
  }
}

.container-product .products__grid__pagination li.page-item .page-link img {
  width: 7px;
  height: 11px;
}

.container-product .products__grid__pagination li.page-item.active .page-link {
  font-weight: 600;
  color: #ffffff;
  background-color: #1e9fd0;
  border: none;
}
.container-product
  .products__grid__pagination
  li.page-item.disabled
  .page-link {
  background: #d9d9d9;
  opacity: 0.5;
}

/* test menu */
.container-product .openMenuButton__filter {
  cursor: pointer;
  font-weight: 900;
}

.container-product .drawerMenu__filter {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  transform: translateX(-120%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
  grid-template-areas: 'MENU OVERLAY';
  grid-template-columns: 3fr 1fr;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

[data-menu]:checked ~ .drawerMenu__filter {
  transform: none;
}

.container-product .menu__filter {
  display: block;
  flex-flow: column wrap;
  transform: translateX(none);
  opacity: 0;
  color: black;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  contain: content;
  grid-area: 'MENU';
  background-color: white;
  box-sizing: border-box;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.container-product .closeMenuButton__filter {
  position: absolute;
  top: 10px;
  right: 10px;
}

[data-menu]:checked ~ .drawerMenu__filter .menu__filter {
  opacity: 1;
  transition-delay: 300ms;
}

.container-product .menuOverlay__filter {
  display: block;
  grid-area: 'OVERLAY';
}

[data-menu]:not(:checked) ~ .drawerMenu__filter .menuOverlay__filter {
  pointer-events: none;
}

@media only screen and (min-width: 769px) {
  .container-product .drawerMenu__filter,
  .container-product .openMenuButton__filter {
    display: none;
  }
}

.container-product .menu__filter .sort__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.container-product .menu__filter .products__grid__searchAndSort--sort-form {
  display: block;
}

.container-product .menu__filter .products__filter__price input,
.container-product
  .menu__filter
  .products__grid__searchAndSort--sort-form
  select {
  height: 36px;
  padding: 0;
  padding-left: 16px;
}

.container-product
  .menu__filter
  .products__grid__searchAndSort--sort-form
  .dropdown-icon {
  top: 8px;
}

/* section blog */

.blog {
  margin-top: 64px;
  background-color: #f9f9f9;
}

.container-product .blog__top {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 40px;
}

.container-product .blog__top__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.container-product .blog__top__title span {
  color: #1e9fd0;
}

.container-product .blog__top a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1e9fd0;
}

.container-product .blog__top img {
  width: 17.5px;
  height: 10px;
  margin-left: 6px;
}

.container-product .blog__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .container-product .blog__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .container-product .blog__cards {
    grid-template-columns: 1fr;
  }
  .container-product .blog__card:nth-child(3),
  .container-product .blog__card:nth-child(4) {
    display: none;
  }
}

.container-product .blog__card {
  display: flex;
  flex-direction: column;
}

.container-product .blog__card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
}

.container-product .blog__card__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.container-product .blog__card__author {
  margin-top: 16px;
  margin-bottom: 64px;
}

.container-product .blog__card__author span:first-child {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #9e9e9e;
}

.container-product .blog__card__author__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}

.container-product .blog__card__img img {
  width: 100%;
}

/* section customer favorite */
.container-product .favorite {
  padding-left: 70px;
}
.container-product .favorite__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin-top: 64px;
  margin-bottom: 40px;
}

.container-product .favorite__title span {
  color: #ff6347;
}

.container-product .favorite__content {
  display: flex;
  gap: 48px;
}

.container-product .favorite__content__photo {
  flex-basis: 40%;
  overflow: hidden;
}

.container-product .favorite__content__comment {
  flex-basis: 40%;
}

@media only screen and (max-width: 1024px) {
  .container-product .favorite {
    padding-left: unset;
  }
  .container-product .favorite__content__photo {
    flex-basis: 50%;
  }
  .container-product .favorite__content__comment {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .favorite__content {
    flex-direction: column-reverse;
  }
}

.container-product .favorite__content__comment__title {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.container-product .favorite__content__comment__title__avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.container-product .favorite__content__comment__title__name p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
}

.container-product .favorite__content__comment__title__rating {
  display: flex;
  gap: 4px;
}

.container-product .favorite__content__comment__title__rating img {
  height: 16px;
  width: 16px;
}

.container-product .favorite__content__comment__title__time {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.container-product .favorite__content__comment__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.container-product .favorite__content__comment__text a {
  color: #55c7eb;
  text-decoration: underline;
  cursor: pointer;
}

.container-product .more-content {
  display: none;
}

.container-product .owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 8px 4px;
}

.container-product .owl-theme .owl-dots .owl-dot.active span,
.container-product .owl-theme .owl-dots .owl-dot:hover span {
  background: #000000;
}

/* FAQ */

.container-product .product__faq {
  margin-top: 84px;
  width: 50%;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

@media only screen and (max-width: 1024px) {
  .container-product .product__faq {
    width: 100%;
  }
}

.container-product .product__faq__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 24px;
}

.container-product .product__faq__content__title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid #d9d9d9;
}

.container-product .product__faq__content__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.container-product .toggle-faq.open .product__faq__content__title__minus,
.container-product .toggle-faq2.open .product__faq__content__title__minus,
.container-product .toggle-faq3.open .product__faq__content__title__minus,
.container-product .toggle-faq4.open .product__faq__content__title__minus,
.container-product .toggle-faq5.open .product__faq__content__title__minus {
  display: block;
}
.container-product .toggle-faq.open .product__faq__content__title__plus,
.container-product .toggle-faq2.open .product__faq__content__title__plus,
.container-product .toggle-faq3.open .product__faq__content__title__plus,
.container-product .toggle-faq4.open .product__faq__content__title__plus,
.container-product .toggle-faq5.open .product__faq__content__title__plus {
  display: none;
}

.container-product .toggle-faq .product__faq__content__title__minus,
.container-product .toggle-faq2 .product__faq__content__title__minus,
.container-product .toggle-faq3 .product__faq__content__title__minus,
.container-product .toggle-faq4 .product__faq__content__title__minus,
.container-product .toggle-faq5 .product__faq__content__title__minus {
  display: none;
}
.container-product .toggle-faq .product__faq__content__title__plus,
.container-product .toggle-faq2 .product__faq__content__title__plus,
.container-product .toggle-faq3 .product__faq__content__title__plus,
.container-product .toggle-faq4 .product__faq__content__title__plus,
.container-product .toggle-faq5 .product__faq__content__title__plus {
  display: block;
}

.container-product .product__faq__content__collapse {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
