@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* RESET CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
menu {
  list-style: none;
}

/* RESET CSS */

/* GLOBAL STYLE */
.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 70px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-secondary {
  background: #eeeeee;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: none;
}

.btn-secondary:hover {
  background: #cccccc;
  color: #000000;
}

/* overwrite bootstrap check box style */
.form-check ~ .form-check {
  margin-top: 16px;
}

.form-check-input {
  height: 24px;
  width: 24px;
  margin-top: 0;
}

.form-check-label {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form-check-label::before {
  content: "";
  position: absolute;
  border: 2px #808080 solid;
  border-radius: 2px;
  background-color: white;
  background-image: none;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}

.form-check .form-check-input:checked ~ .form-check-label::before {
  content: "";
  position: absolute;
  border: 2px #1e9fd0 solid;
  border-radius: 2px;
  background-color: white;
  background-image: none;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}

.form-check .form-check-input:checked ~ .form-check-label::after {
  content: "";
  color: #678000;
  position: absolute;
  background-color: #1e9fd0;
  background-image: none;
  top: 5px;
  left: 5px;
  height: 14px;
  width: 14px;
}

/* GLOBAL STYLE */

/* section submenu */
.btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fafafa;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* section breadcrumb */
.breadcrumb {
  background: transparent;
  padding-left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.breadcrumb-item a {
  color: #8b8b8b;
}

.breadcrumb-item.active {
  color: #000000;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 20px;
}

/* section header */

.header-title {
  margin-top: 60px;
}

.header-title h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 16px;
}

.header-title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/* section most popular */
.carousel-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.carousel-navigation-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.carousel-navigation-title span {
  color: #ffd120;
}

.carousel-navigation-btn {
  display: flex;
  align-items: center;
}

.carousel-button {
  top: -40px;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease;
  margin-left: 8px;
  display: grid;
  place-items: center;
}

.carousel-button.disable {
  cursor: unset;
}

.carousel-button:hover,
.carousel-button:focus {
  opacity: 1;
}

.carousel-button-prev {
  left: 20px;
}

.carousel-button-prev.disable .disable-arrow-left {
  display: block;
}
.carousel-button-prev.disable .arrow-left {
  display: none;
}
.carousel-button-prev .disable-arrow-left {
  display: none;
}
.carousel-button-prev .arrow-left {
  display: block;
}
.carousel-button-next.disable .disable-arrow-right {
  display: block;
}
.carousel-button-next.disable .arrow-right {
  display: none;
}
.carousel-button-next .disable-arrow-right {
  display: none;
}
.carousel-button-next .arrow-right {
  display: block;
}

.carousel-button-next {
  right: 20px;
}

.product-carousel {
  width: 100%;
  margin-top: 40px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
.product-carousel.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  scroll-snap-type: unset;
}

.product-carousel-items {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -12px;
}
.product-carousel-items p {
  margin-bottom: 0;
}

.product-carousel-item {
  display: flex;
  flex: 0 0 calc(18.18181818% - 24px);
  margin: 0 12px;
  flex-direction: column;
  height: 300px;
  color: black;
  position: relative;
}

.product-carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.product-carousel-item-rating {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  height: 16px;
  z-index: 9;
}

.product-carousel-item-rating img {
  width: 16px;
  height: 16px;
}

.product-carousel-item-rating span {
  color: white;
  margin-left: 8px;
}

.product-carousel-item img {
  height: 164px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-carousel-item-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.product-carousel-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-carousel-item-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-top: 4px;
}

@media (max-width: 800px) {
  .product-carousel-item {
    flex: 0 0 calc(50% - 24px);
  }
}

/* section product grid */
.products {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 80px;
}
.products__filter {
  height: 500px;
  border: 1px solid red;
  flex-basis: 25%;
}

.products__filter__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__filter__title--left h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.products__filter__title--left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
}

.products__filter__title--right a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #1e9fd0;
}

.products__grid {
  height: 500px;
  border: 1px solid red;
  flex-basis: 75%;
}

.products__filter hr {
  width: 80%;
  border-top: 1px solid #d9d9d9;
  margin-top: 0px;
  margin-bottom: 0px;
}

.products__filter__category__title {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.products__filter__category__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.toggle-category.open .products__filter__category__title__minus {
  display: block;
}
.toggle-category.open .products__filter__category__title__plus {
  display: none;
}

.toggle-category .products__filter__category__title__minus {
  display: none;
}
.toggle-category .products__filter__category__title__plus {
  display: block;
}
