@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* RESET CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
menu {
  list-style: none;
}

/* RESET CSS */

/* GLOBAL STYLE */
.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 70px;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 32px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-primary {
  background: #0991e0;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn-secondary {
  background: #eeeeee;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: none;
}

.btn-secondary:hover {
  background: #cccccc;
  color: #000000;
}

/* overwrite bootstrap check box style */
.form-check ~ .form-check {
  margin-top: 16px;
}

.form-check-input {
  height: 24px;
  width: 24px;
  margin-top: 0;
}

.form-check-label {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form-check-label::before {
  content: "";
  position: absolute;
  border: 2px #808080 solid;
  border-radius: 2px;
  background-color: white;
  background-image: none;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}

.form-check .form-check-input:checked ~ .form-check-label::before {
  content: "";
  position: absolute;
  border: 2px #1e9fd0 solid;
  border-radius: 2px;
  background-color: white;
  background-image: none;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}

.form-check .form-check-input:checked ~ .form-check-label::after {
  content: "";
  color: #678000;
  position: absolute;
  background-color: #1e9fd0;
  background-image: none;
  top: 5px;
  left: 5px;
  height: 14px;
  width: 14px;
}

/* GLOBAL STYLE */

/* section submenu */
.btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fafafa;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 576px) {
  .btn-container {
    flex-direction: column;
    align-items: start;
  }
}

/* section breadcrumb */
.breadcrumb {
  background: transparent;
  padding-left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.breadcrumb-item a {
  color: #8b8b8b;
}

.breadcrumb-item.active {
  color: #000000;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 20px;
}

/* section header */

.header-title {
  margin-top: 60px;
  width: 50%;
}

@media (max-width: 1024px) {
  .header-title {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header-title {
    margin-top: 16px;
  }
}

.header-title h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 16px;
}

.header-title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/* section most popular */
.carousel-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.carousel-navigation-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.carousel-navigation-title span {
  color: #ffd120;
}

.carousel-navigation-btn {
  display: flex;
  align-items: center;
}

.carousel-button {
  top: -40px;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease;
  margin-left: 8px;
  display: grid;
  place-items: center;
}

.carousel-button.disable {
  cursor: unset;
}

.carousel-button:hover,
.carousel-button:focus {
  opacity: 1;
}

.carousel-button-prev {
  left: 20px;
}

.carousel-button-prev.disable .disable-arrow-left {
  display: block;
}
.carousel-button-prev.disable .arrow-left {
  display: none;
}
.carousel-button-prev .disable-arrow-left {
  display: none;
}
.carousel-button-prev .arrow-left {
  display: block;
}
.carousel-button-next.disable .disable-arrow-right {
  display: block;
}
.carousel-button-next.disable .arrow-right {
  display: none;
}
.carousel-button-next .disable-arrow-right {
  display: none;
}
.carousel-button-next .arrow-right {
  display: block;
}

.carousel-button-next {
  right: 20px;
}

.product-carousel {
  width: 100%;
  margin-top: 40px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
.product-carousel.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  scroll-snap-type: unset;
}

.product-carousel-items {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -12px;
}
.product-carousel-items p {
  margin-bottom: 0;
}

.product-carousel-item {
  display: flex;
  flex: 0 0 calc(18.18181818% - 24px);
  margin: 0 12px;
  flex-direction: column;
  color: black;
  position: relative;
}

.product-carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.product-carousel-item-rating {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  height: 16px;
  z-index: 9;
}

.product-carousel-item-rating img {
  width: 16px;
  height: 16px;
}

.product-carousel-item-rating span {
  color: white;
  margin-left: 8px;
}

.product-carousel-item img {
  height: 164px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-carousel-item-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.product-carousel-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-carousel-item-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .product-carousel-item {
    flex: 0 0 calc(33.33333% - 24px);
  }
}

@media (max-width: 768px) {
  .product-carousel-item {
    flex: 0 0 calc(50% - 24px);
  }
}

@media (max-width: 375px) {
  .product-carousel-item {
    flex: 0 0 calc(100% - 24px);
  }
}

/* section product grid */
.products {
  display: flex;
  align-items: start;
  gap: 44px;
  margin-top: 80px;
}

/* filter */
.products__filter {
  flex-basis: 25%;
}

.products__filter__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products__filter__title--left h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.products__filter__title--left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
}

.products__filter__title--right a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #1e9fd0;
}

.products__filter__category {
  margin-bottom: 20px;
}

.products__filter hr {
  width: 80%;
  border-top: 1px solid #d9d9d9;
  margin-top: 0px;
  margin-bottom: 0px;
}

.products__filter__category__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.products__filter__category__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.toggle-category.open .products__filter__category__title__minus {
  display: block;
}
.toggle-category.open .products__filter__category__title__plus {
  display: none;
}

.toggle-category .products__filter__category__title__minus {
  display: none;
}
.toggle-category .products__filter__category__title__plus {
  display: block;
}

.products__filter__price {
  margin-bottom: 16px;
}

.products__filter__price__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.products__filter__price__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.toggle-price.open .products__filter__price__title__minus {
  display: block;
}
.toggle-price.open .products__filter__price__title__plus {
  display: none;
}

.toggle-price .products__filter__price__title__minus {
  display: none;
}
.toggle-price .products__filter__price__title__plus {
  display: block;
}

.products__filter__price__group {
  display: flex;
  align-items: center;
}

.products__filter__price__group p {
  margin-bottom: 0;
  height: 100%;
}

.products__filter__price input[type="number"] {
  width: 46%;
  height: 56px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 3%;
}
.products__filter__price input[type="number"]:focus-visible {
  outline: none;
}
.products__filter__price input[type="number"]::placeholder {
  color: #727272;
}

.products__filter__subcategory {
  margin-bottom: 20px;
}

.products__filter__subcategory__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.products__filter__subcategory__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.toggle-subcategory.open .products__filter__subcategory__title__minus {
  display: block;
}
.toggle-subcategory.open .products__filter__subcategory__title__plus {
  display: none;
}

.toggle-subcategory .products__filter__subcategory__title__minus {
  display: none;
}
.toggle-subcategory .products__filter__subcategory__title__plus {
  display: block;
}

.products__filter__othercategory {
  margin-bottom: 20px;
}

.products__filter__othercategory__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.products__filter__othercategory__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.toggle-othercategory.open .products__filter__othercategory__title__minus {
  display: block;
}
.toggle-othercategory.open .products__filter__othercategory__title__plus {
  display: none;
}

.toggle-othercategory .products__filter__othercategory__title__minus {
  display: none;
}
.toggle-othercategory .products__filter__othercategory__title__plus {
  display: block;
}

.products__filter__request {
  margin-top: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products__filter__request img {
  margin-bottom: 16px;
}

.products__filter__request h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}
.products__filter__request p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 16px;
}

/* grid */

.products__grid {
  flex-basis: 75%;
}
@media (max-width: 768px) {
  .products__filter {
    display: none;
  }
  .products__grid {
    flex-basis: 100%;
  }
}

.products__grid__searchAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__grid__searchAndSort--search-form {
  position: relative;
}

.products__grid__searchAndSort input[type="text"] {
  width: 295px;
  height: 56px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 16px;
}

.products__grid__searchAndSort input[type="text"] {
  outline: none;
}

.products__grid__searchAndSort input[type="text"]::placeholder {
  color: #727272;
}

.products__grid__searchAndSort .search-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.products__grid__searchAndSort--sort-form {
  position: relative;
  width: fit-content;
}

@media (max-width: 768px) {
  .products__grid__searchAndSort--sort-form {
    display: none;
  }
  .products__grid__searchAndSort input[type="text"] {
    width: 240px;
  }
}

.products__grid__searchAndSort select {
  appearance: none;
  outline: 0px;
  width: 160px;
  padding: 16px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  cursor: pointer;
}

.products__grid__searchAndSort--sort-form .dropdown-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.products__grid__content {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

@media (max-width: 1024px) {
  .products__grid__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .products__grid__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .products__grid__content {
    grid-template-columns: 1fr;
  }
}

.product__grid__item {
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
}

.product__grid__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.product__grid__item__rating {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  height: 16px;
  z-index: 9;
}

.product__grid__item__rating img {
  width: 16px;
  height: 16px;
}

.product__grid__item__rating span {
  color: white;
  margin-left: 8px;
}

.grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__grid__item__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 0;
}

.product__grid__item__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 4px;
  margin-bottom: 0;

  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 90px; */
}

.product__grid__item__location {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-top: 4px;
  margin-bottom: 0;
}

/* pagination */

.products__grid__pagination {
  margin-top: 40px;
}

.products__grid__pagination li.page-item .page-link {
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212b36;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .products__grid__pagination li.page-item .page-link {
    width: 30px;
    height: 30px;
  }
}

.products__grid__pagination li.page-item .page-link img {
  width: 7px;
  height: 11px;
}

.products__grid__pagination li.page-item.active .page-link {
  font-weight: 600;
  color: #ffffff;
  background-color: #1e9fd0;
  border: none;
}
.products__grid__pagination li.page-item.disabled .page-link {
  background: #d9d9d9;
  opacity: 0.5;
}

/* test menu */
.openMenuButton__filter {
  cursor: pointer;
  font-weight: 900;
}

.drawerMenu__filter {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  transform: translateX(-120%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
  grid-template-areas: "MENU OVERLAY";
  grid-template-columns: 15fr 5fr;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

[data-menu]:checked ~ .drawerMenu__filter {
  transform: none;
}

.menu__filter {
  display: block;
  flex-flow: column wrap;
  transform: translateX(-30%);
  opacity: 0;
  color: black;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  contain: content;
  grid-area: "MENU";
  background-color: white;
  box-sizing: border-box;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

[data-menu]:checked ~ .drawerMenu__filter .menu__filter {
  transform: translateX(-7%);
  opacity: 1;
  transition-delay: 300ms;
}

.menuOverlay__filter {
  display: block;
  grid-area: "OVERLAY";
}

[data-menu]:not(:checked) ~ .drawerMenu__filter .menuOverlay__filter {
  pointer-events: none;
}

@media only screen and (min-width: 769px) {
  .drawerMenu__filter,
  .openMenuButton__filter {
    display: none;
  }
}

.menu__filter .sort__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.menu__filter .products__grid__searchAndSort--sort-form {
  display: block;
}

.menu__filter .products__filter__price input,
.menu__filter .products__grid__searchAndSort--sort-form select {
  height: 36px;
  padding: 0;
  padding-left: 16px;
}

.menu__filter .products__grid__searchAndSort--sort-form .dropdown-icon {
  top: 8px;
}

/* section blog */

.blog {
  margin-top: 64px;
  background-color: #f9f9f9;
}

.blog__top {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 40px;
}

.blog__top__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.blog__top__title span {
  color: #1e9fd0;
}

.blog__top a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1e9fd0;
}

.blog__top img {
  width: 17.5px;
  height: 10px;
  margin-left: 6px;
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .blog__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .blog__cards {
    grid-template-columns: 1fr;
  }
  .blog__card:nth-child(3),
  .blog__card:nth-child(4) {
    display: none;
  }
}

.blog__card {
  display: flex;
  flex-direction: column;
}

.blog__card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
}

.blog__card__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.blog__card__author {
  margin-top: 16px;
  margin-bottom: 64px;
}

.blog__card__author span:first-child {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #9e9e9e;
}

.blog__card__author__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}

.blog__card__img img {
  width: 100%;
}

/* section customer favorite */
.favorite {
  padding-left: 70px;
}
.favorite__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin-top: 64px;
  margin-bottom: 40px;
}

.favorite__title span {
  color: #ff6347;
}

.favorite__content {
  display: flex;
  gap: 48px;
}

.favorite__content__photo {
  flex-basis: 40%;
  overflow: hidden;
}

.favorite__content__comment {
  flex-basis: 40%;
}

@media only screen and (max-width: 1024px) {
  .favorite {
    padding-left: unset;
  }
  .favorite__content__photo {
    flex-basis: 50%;
  }
  .favorite__content__comment {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .favorite__content {
    flex-direction: column-reverse;
  }
}

.favorite__content__comment__title {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.favorite__content__comment__title__avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.favorite__content__comment__title__name p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
}

.favorite__content__comment__title__rating {
  display: flex;
  gap: 4px;
}

.favorite__content__comment__title__rating img {
  height: 16px;
  width: 16px;
}

.favorite__content__comment__title__time {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.favorite__content__comment__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.favorite__content__comment__text a {
  color: #55c7eb;
  text-decoration: underline;
  cursor: pointer;
}

.more-content {
  display: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 8px 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #000000;
}

.product__faq {
  margin-top: 84px;
  width: 50%;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

@media only screen and (max-width: 1024px) {
  .product__faq {
    width: 100%;
  }
}

.product__faq__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 24px;
}

.product__faq__content__title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid #d9d9d9;
}

.product__faq__content__title h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.toggle-faq.open .product__faq__content__title__minus,
.toggle-faq2.open .product__faq__content__title__minus,
.toggle-faq3.open .product__faq__content__title__minus,
.toggle-faq4.open .product__faq__content__title__minus,
.toggle-faq5.open .product__faq__content__title__minus {
  display: block;
}
.toggle-faq.open .product__faq__content__title__plus,
.toggle-faq2.open .product__faq__content__title__plus,
.toggle-faq3.open .product__faq__content__title__plus,
.toggle-faq4.open .product__faq__content__title__plus,
.toggle-faq5.open .product__faq__content__title__plus {
  display: none;
}

.toggle-faq .product__faq__content__title__minus,
.toggle-faq2 .product__faq__content__title__minus,
.toggle-faq3 .product__faq__content__title__minus,
.toggle-faq4 .product__faq__content__title__minus,
.toggle-faq5 .product__faq__content__title__minus {
  display: none;
}
.toggle-faq .product__faq__content__title__plus,
.toggle-faq2 .product__faq__content__title__plus,
.toggle-faq3 .product__faq__content__title__plus,
.toggle-faq4 .product__faq__content__title__plus,
.toggle-faq5 .product__faq__content__title__plus {
  display: block;
}

.product__faq__content__collapse {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
